---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$max-content-width: {{ site.max_width }};

// Import variables at the beginning
@import "variables";

// Other imports
@import
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner img.full-width-banner {
  display: block;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin: 0;
}

.footer-logo {
  max-width: 80%;
  height: auto;
}

@media (max-width: 767px) {
  .footer-logos .col-4 {
    flex: 0 0 20%;
    padding: 1%;
    max-width: 20%;
  }

  .footer-logo {
    max-width: 75%;
    height: auto;
  }

}

/* Show light logos by default */
.footer-logo-light {
  display: inline-block;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  .footer-logo-light {
    display: none;    // Hide light logos in dark mode
  }

  .footer-logo-dark {
    display: inline-block; // Show dark logos in dark mode
  }
}

/* Social Icons */
.social-icon {
  max-width: 40px; // Adjust the size as needed
  margin: 0 10px; // Space between icons
  vertical-align: middle; // Align icons vertically
}

.nav-link {
 /*  text-transform: uppercase; */
}

.post-image img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.post-preview {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-preview-image img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.post-preview-content {
  flex: 1;
}

/* Ensure that the html and body consume the full height */
